{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- BootStrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
        crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/index.css'%}">
        <link rel="icon" href="{% static 'img/boviapp_logo_secondary.png' %}" type="image/png">
        <title>BoviApp</title>
    </head>
<body>
    {% include 'main/navbar.html' %}
    <form>
        <table>
            <th>Nombre de la finca</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Direccion del encargado</th>
            <th>Detalles</th>
            {% for finca in fincas %}
            <tr>
                <td> {{finca.nombre_finca}} </td>
                <td> {{finca.direccion}} </td>
                <td> {{finca.telefono}} </td>
                <td> {{finca.direccion_encargado}} </td>
                <input type="hidden" id="IdFinca" name="IdFinca" value={{ finca.id }}>
                <td> <input type="submit" value="Ir"> </td>
            </tr>
            {% endfor %}
        </table>
    </form>
    {% include 'main/footer.html' %}
</body>
</html>
