{% load static %}

<footer class="d-flex flex-wrap justify-content-between align-items-center py-1 my-2 px-2 border-top fixed-bottom">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <ul class="list-unstyled">
        <li><span class="mb-3 mb-md-0 text-muted"><a href="mailto:BoviAppIS@gmail.com"><img src="{% static 'img/email.png' %}" width="25" height="25"></a> BoviApp</span>
        </li>
        <!--li><span class="mb-3 mb-md-0 text-muted">Acerca de Boviapp</span></li-->
      </ul>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/profile.php?id=100087561713445" target="_blank"><img src="{% static 'img/fb_icon_325x325.png' %}" height="40" width="40" alt="logoFacebook"  title="Facebook"></a></li>
      <li class="ms-3"><a class="text-muted" href="https://instagram.com/bovi_app?igshid=YmMyMTA2M2Y=" target="_blank"><img src="{% static 'img/Instagram-Icon.png' %}" height="40" width="40" alt="logoInstagram"  title="Instagram"></a></li>
      <li class="ms-3"><a class="text-muted" href="https://twitter.com/BoviApp" target="_blank"><img src="{% static 'img/Twitter-logo.svg.png' %}" height="40" width="40" alt="logoTwitter"  title="Twitter"></a></li>
      <li class="ms-3"><a class="text-muted" href="https://www.youtube.com/channel/UCOxZJMVofDRB5DnbNdyB3Rg" target="_blank"><img src="{% static 'img/YouTube_full-color_icon_(2017).svg.png' %}" height="40" width="40" alt="logoYoutube"  title="Canal de youtube"></a></li>
      <li class="ms-3"><a class="text-muted" href="https://paypal.me/boviapp?country.x=CO&locale.x=es_XC" target="_blank"><img src="{% static 'img/paypal.png' %}" height="40" width="40" alt="logoPaypal" title="Donaciones"></a></li>
    </ul>
</footer>