<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/footer.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
        crossorigin="anonymous">
</head>
<body>
    <div>
        <div class="footer">
            <ul>
                
                <li><a href="https://www.facebook.com/profile.php?id=100087561713445" target="_blank" style="text-decoration: none">
                    <img src="../../static/img/fb_icon_325x325.png" height="50" width="50" alt="logoFacebook">
                    Facebook
                </a></li>
                <li><a href="https://instagram.com/bovi_app?igshid=YmMyMTA2M2Y=" target="_blank" style="text-decoration: none">
                    <img src="../../static/img/Instagram-Icon.png" height="50" width="50" alt="logoInstagram">
                    Instagram
                </a></li>
                <li><a href="https://www.youtube.com/channel/UCOxZJMVofDRB5DnbNdyB3Rg" target="_blank" style="text-decoration: none">
                    <img src="../../static/img/YouTube_full-color_icon_(2017).svg.png" height="50" width="50" alt="logoYoutube">
                    YouTube
                </a></li>
                <li><a href="https://twitter.com/BoviApp" target="_blank" style="text-decoration: none">
                    <img src="../../static/img/Twitter-logo.svg.png" height="50" width="50" alt="logoTwitter">
                    Twitter
                </a></li>
                <li>
                    <a href="https://paypal.me/boviapp?country.x=CO&locale.x=es_XC" target="_blank" style="text-decoration: none">
                        <img src="../../static/img/paypal.png" height="50" width="50" alt="logoPaypal">
                        Donaciones
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>