{% extends 'main/base_generic.html' %}
{% load static %}

{% block title %}Recuperar contraseña{% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center" style="height: 90%;">
    <h2 class="p-4">Recuperar contraseña</h2>
    <div class="container-sm rounded form-inline">
        <form action = "{% url 'password_reset' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="idEmail">Correo Electrónico</label>
                <input type="email" class="form-control" id="idEmail" name="inputEmail" placeholder="PlinioOlivoMarin@ejemplo.com" aria-describedby="help" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>

{% endblock %}
