{% extends 'main/base_generic.html' %}
{% load static %}

{% block title %}Registrarse{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center justify-content-center" style="height: 90%;">
    <h1 class="p-4">¡Regístrate!</h1>
    <form action = "{% url 'signup' %}" method = "POST" >
        {% csrf_token %}
        <div class="form-group">
            <label>Nombres
            <input type="text" class="form-control" name="inputFirstName" placeholder="Pepito">
            </label>
        </div>
        <div class="form-group">
            <label>Apellidos
            <input type="text" class="form-control" name="inputLastName" placeholder="Pérez">
            </label>
        </div>
        <div class="form-group">
            <label>Correo Electrónico
            <input type="email" class="form-control" name="inputEmail" placeholder="pepitop100@ejemplo.com">
            </label>
        </div>
        <div class="form-group">
            <label>Contraseña
            <input type="password" class="form-control" name="inputPassword" placeholder="***************">
            </label>
        </div>
        <div class="form-group">
            <label>Teléfono
            <input type="text" class="form-control" name="inputPhone" placeholder="3130000000">
            </label>
        </div>
        <div class="form-group">
            <label>Dirección
            <input type="text" class="form-control" name="inputAddress" placeholder="Cra 0 # 0 - 45, XX, YY">
            </label>
        </div>
        <div>
            <h6>Soy:</h6>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inputType" id="ganadero-id" value="1" checked />
                <label class="form-check-label" for="ganadero-id">Ganadero</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inputType" id="personaX-id" value="2" />
                <label class="form-check-label" for="personaX-id">Persona X</label>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
    <br>
    <small>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión</a></small>
</div>
{% endblock %}