{% extends 'main/base_generic.html' %}
{% load static %}

{% block title %}{{ finca.nombre_finca }}{% endblock %}


{% block content %}            



<div class="d-flex flex-column align-items-center justify-content-center" style="height: 90%;">
    <h2 class="p-4">{{ finca.nombre_finca }}</h2>
    <div class="container-sm border rounded form-inline card">
        <h3 class="card-title">Información de contacto</h3>
        <div class="card-body">
            Dirección: {{ finca.direccion }}
            <br>
            Teléfono: {{ finca.telefono }}
            <br>
            Dirección de persona encargada: {{ finca.direccion_encargado }}
        </div>
    </div>
    <br>
    <div class="container-sm border card">
        <h3 class="card-title">Ganado asociado</h3>
        <table class="table table-responsive-md table-hover table-bordered">
            <caption>Listado de ganado en {{ finca.nombre_finca }}</caption>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Cabeza</th>
                <th scope="col">Lote</th>
                <th scope="col">Potrero</th>
              </tr>
            </thead>
            <tbody> 
                {% for i in vaquitas %} 
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><!--Link a hoja de vida de la vaquita--><a href="#">{{ i.cabeza_ganado.id }}</a></td>
                    <td>{{ i.lote }}</td>
                    <td>{{ i.potrero }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
</div>

{% endblock %}
